.root {
  cursor: pointer;
  position: relative;
  margin: 0.2em;
  width: 32%;

  &:hover .hover {
    display: block;
  }
}

.image {
  width: 100%;
}

.protector {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.hover {
  background: rgba(0,0,0,0.7);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}